<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cqjtu.lexian.dao.CategoryExpandMapper">
  <resultMap id="BaseResultMap" type="cn.cqjtu.lexian.model.Category">
    <id column="categoryId" jdbcType="VARCHAR" property="categoryid" />
    <result column="categoryTitle" jdbcType="VARCHAR" property="categorytitle" />
  </resultMap>
  <sql id="Base_Column_List">
    categoryId, categoryTitle
  </sql>
  <select id="findAllCate" resultMap="BaseResultMap" >
    SELECT
    <include refid="Base_Column_List" />
    FROM category
  </select>
</mapper>