<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cqjtu.lexian.dao.ProductionMapper">
  <resultMap id="BaseResultMap" type="cn.cqjtu.lexian.model.Production">
    <id column="proId" jdbcType="VARCHAR" property="proid" />
    <result column="production_status_id" jdbcType="INTEGER" property="productionStatusId" />
    <result column="proBar" jdbcType="VARCHAR" property="probar" />
    <result column="proName" jdbcType="VARCHAR" property="proname" />
    <result column="proPrice" jdbcType="DECIMAL" property="proprice" />
    <result column="proDscp" jdbcType="VARCHAR" property="prodscp" />
    <result column="proDetailDscp" jdbcType="VARCHAR" property="prodetaildscp" />
    <result column="proMainPic" jdbcType="VARCHAR" property="promainpic" />
    <result column="proStorage" jdbcType="INTEGER" property="prostorage" />
    <result column="proSaleVolume" jdbcType="INTEGER" property="prosalevolume" />
  </resultMap>
  <sql id="Base_Column_List">
    proId, production_status_id, proBar, proName, proPrice, proDscp, proDetailDscp, proMainPic, 
    proStorage, proSaleVolume
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from production
    where proId = #{proid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from production
    where proId = #{proid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.cqjtu.lexian.model.Production">
    insert into production (proId, production_status_id, proBar, 
      proName, proPrice, proDscp, 
      proDetailDscp, proMainPic, proStorage, 
      proSaleVolume)
    values (#{proid,jdbcType=VARCHAR}, #{productionStatusId,jdbcType=INTEGER}, #{probar,jdbcType=VARCHAR}, 
      #{proname,jdbcType=VARCHAR}, #{proprice,jdbcType=DECIMAL}, #{prodscp,jdbcType=VARCHAR}, 
      #{prodetaildscp,jdbcType=VARCHAR}, #{promainpic,jdbcType=VARCHAR}, #{prostorage,jdbcType=INTEGER}, 
      #{prosalevolume,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="cn.cqjtu.lexian.model.Production">
    insert into production
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="proid != null">
        proId,
      </if>
      <if test="productionStatusId != null">
        production_status_id,
      </if>
      <if test="probar != null">
        proBar,
      </if>
      <if test="proname != null">
        proName,
      </if>
      <if test="proprice != null">
        proPrice,
      </if>
      <if test="prodscp != null">
        proDscp,
      </if>
      <if test="prodetaildscp != null">
        proDetailDscp,
      </if>
      <if test="promainpic != null">
        proMainPic,
      </if>
      <if test="prostorage != null">
        proStorage,
      </if>
      <if test="prosalevolume != null">
        proSaleVolume,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="proid != null">
        #{proid,jdbcType=VARCHAR},
      </if>
      <if test="productionStatusId != null">
        #{productionStatusId,jdbcType=INTEGER},
      </if>
      <if test="probar != null">
        #{probar,jdbcType=VARCHAR},
      </if>
      <if test="proname != null">
        #{proname,jdbcType=VARCHAR},
      </if>
      <if test="proprice != null">
        #{proprice,jdbcType=DECIMAL},
      </if>
      <if test="prodscp != null">
        #{prodscp,jdbcType=VARCHAR},
      </if>
      <if test="prodetaildscp != null">
        #{prodetaildscp,jdbcType=VARCHAR},
      </if>
      <if test="promainpic != null">
        #{promainpic,jdbcType=VARCHAR},
      </if>
      <if test="prostorage != null">
        #{prostorage,jdbcType=INTEGER},
      </if>
      <if test="prosalevolume != null">
        #{prosalevolume,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.cqjtu.lexian.model.Production">
    update production
    <set>
      <if test="productionStatusId != null">
        production_status_id = #{productionStatusId,jdbcType=INTEGER},
      </if>
      <if test="probar != null">
        proBar = #{probar,jdbcType=VARCHAR},
      </if>
      <if test="proname != null">
        proName = #{proname,jdbcType=VARCHAR},
      </if>
      <if test="proprice != null">
        proPrice = #{proprice,jdbcType=DECIMAL},
      </if>
      <if test="prodscp != null">
        proDscp = #{prodscp,jdbcType=VARCHAR},
      </if>
      <if test="prodetaildscp != null">
        proDetailDscp = #{prodetaildscp,jdbcType=VARCHAR},
      </if>
      <if test="promainpic != null">
        proMainPic = #{promainpic,jdbcType=VARCHAR},
      </if>
      <if test="prostorage != null">
        proStorage = #{prostorage,jdbcType=INTEGER},
      </if>
      <if test="prosalevolume != null">
        proSaleVolume = #{prosalevolume,jdbcType=INTEGER},
      </if>
    </set>
    where proId = #{proid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.cqjtu.lexian.model.Production">
    update production
    set production_status_id = #{productionStatusId,jdbcType=INTEGER},
      proBar = #{probar,jdbcType=VARCHAR},
      proName = #{proname,jdbcType=VARCHAR},
      proPrice = #{proprice,jdbcType=DECIMAL},
      proDscp = #{prodscp,jdbcType=VARCHAR},
      proDetailDscp = #{prodetaildscp,jdbcType=VARCHAR},
      proMainPic = #{promainpic,jdbcType=VARCHAR},
      proStorage = #{prostorage,jdbcType=INTEGER},
      proSaleVolume = #{prosalevolume,jdbcType=INTEGER}
    where proId = #{proid,jdbcType=VARCHAR}
  </update>
</mapper>